header{
    position: relative;
    padding: 20px 0;
    margin-bottom: 20px;
    background-color: var(--Alfonzo);
}
header .top{
    max-height:80px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
header .logo{
    display: flex;
    align-items: center;
    width: 50%;
}
header img{
    padding: 10px;
    width: 150px;
}
header .burger label{
    position: absolute;
    top: 15px;
    right: 10px;
    font-size: 30px;
    padding: 20px 30px;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    display: inline-block;
}
header .burger input{
    display: none;
}
header .burger input:checked ~ nav{
    display: none;
}
header .burger nav{
    width: 100%;
    display: block;
    margin-top: 20px;
    text-align: center;
}
header .burger nav ul{
    padding-bottom: 20px;
}
header .burger nav ul li{
    margin: 20px 0;
}
header .burger nav a{
    color: white;
    text-transform: uppercase;
    font-size: 18px;
}
/* Desktop */
@media (min-width:769px) {
    header{
        margin-top: 10px;
        padding-right: 20px;
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header .top{
        width: 10%;
    }
    header .burger input:checked ~ nav{
        display: flex;
    }
    header .burger label{
        display: none;
    }
    header .burger{
        width: 80%;
    }
    header .burger nav{
        flex-wrap: wrap;
        justify-content: space-between;
    }
    header .burger nav ul{
        display: flex;
        flex-wrap: wrap;
        width: 49%;
    }
    header .burger nav ul.menu{
        width: 65%;
        justify-content: flex-start;
    }
    header .burger nav ul.user{
        width: 32%;
        justify-content: flex-end;
    }
    header .burger nav ul li{
        padding: 0 5px;
    }
    header .burger nav ul li a{
        font-size: 16px;
    }
}

@media (min-width:1024px) {
    header .burger nav ul li{
        padding: 0 10px;
    }
    header .burger nav ul li a{
        font-size: 20px;
    }
}
