<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head',{title: 'Crafsy'}) %> 

    <body class="detail">

        <%- include('./partials/header') %> 

        <main>
            <section class="imagenes">
                <div class="img-principal">
                    <img src="/images/productos/_0003_2020_Capri-_BasicPack_PhantomBlack_PDP-Hero.png" alt="">
                </div>
                <div class="img-secundarias">
                    <img src="/images/productos/_0003_2020_Capri-_BasicPack_PhantomBlack_PDP-Hero.png" alt="">
                    <img src="/images/productos/_0005_2020_Capri-_BasicPack_PhantomBlack_Front-View.png" alt="">
                    <img src="/images/productos/_0000_2020_Capri-_BasicPack_PhantomBlack_Backside.png" alt="">
                    <img src="/images/productos/168343-800-auto.png" alt="">
                </div>
            </section>
            <section class="product-detail">
                <h2>Motorola </h2>
                <h1>Celular Motorola Moto G52 6+128 Gb Black</h1>
                <div class="bloque-completo">
                    <article class="price">
                        <small>20%</small>
                        <span>$56000</span>
                        <p class="precio">$44800</p>
                    </article>
                    <article>
                        <div class="sumar-carrito">
                            <div class="restar">-</div>
                            <input type="number">
                            <div class="agregar">+</div>
                        </div>
                        <button>Comprar producto</button>
                    </article>
                </div>
                <aside>
                    <h3>Aprovecha las promociones</h3>
                    <article>
                        <p><i class="fas fa-truck"></i></p>
                        <p>Envio gratis</p>
                    </article>
                    <article>
                        <p><i class="fas fa-credit-card"></i></p>
                        <p>14 cuotas sin interes</p>
                    </article>
                    <article>
                        <p><i class="fas fa-user-tag"></i></p>
                        <p>descuentos en tarjetas seleccionadas</p>
                    </article>
                </aside>
            </section>
            <section class="text-detail">
                <h2>Detalle del producto</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum numquam, placeat eius perferendis aspernatur doloribus aliquid, quibusdam aperiam hic a tenetur! Quis rem aut qui expedita ut aspernatur nisi officiis.</p>
            </section>
            <section class="related">
                <h2>Productos relacionados</h2>
                <article>
                    <div class="related-img-0"></div>
                    <p>$80000</p>
                    <h4>moto g100</h4>
                    <button>a単adir al carrito</button>
                </article>
                <article>
                    <div class="related-img-1">
                        <img src="" alt="">
                    </div>
                    <p>$60000</p>
                    <h4>redmi note 10</h4>
                    <button>a単adir al carrito</button>
                </article>
                <article>
                    <div class="related-img-2">
                        <img src="" alt="">
                    </div>
                    <p>$500</p>
                    <h4>alcatel no tengo ni idea</h4>
                    <button>a単adir al carrito</button>
                </article>
                <article>
                    <div class="related-img-3">
                        <img src="" alt="">
                    </div>
                    <p>$220000</p>
                    <h4>samsung galaxy s21</h4>
                    <button>a単adir al carrito</button>
                </article>
            </section>
        </main>
        <%- include('./partials/footer') %> 
    </body>
</html>