<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head',{title: 'Crafsy'}) %> 

<body class="home">
    <%- include('./partials/header') %> 
    <main>
        <section class="products_cards">
            <article>
                <div class="img_producto">
                    <a href="/products/detail/1">
                        <img src="/images/img-phone-1.jpg" alt="">
                    </a>
                </div>
                <h3>Nombre del Producto</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ducimus ipsum cumque, iure molestiae laboriosam vero id eligendi amet, animi quod? Possimus aliquam, ex quibusdam sunt nulla iusto voluptate dolore?</p>
                <a class="botonRedireccion" href="/products/detail">ver mas</a>
            </article>
            <article>
                <div class="img_producto">
                    <a href="/products/detail/2">
                        <img src="/images/img-phone-02.jpg" alt="">
                    </a>
                </div>
                <h3>Nombre del Producto</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ducimus ipsum cumque, iure molestiae laboriosam vero id eligendi amet, animi quod? Possimus aliquam, ex quibusdam sunt nulla iusto voluptate dolore?</p>
                <a class="botonRedireccion" href="/products/detail">ver mas</a>
            </article>
            <article>
                <div class="img_producto">
                    <a href="/products/detail/3">
                        <img src="/images/img-phone-03.jpg" alt="">
                    </a>
                </div>
                <h3>Nombre del Producto</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ducimus ipsum cumque, iure molestiae laboriosam vero id eligendi amet, animi quod? Possimus aliquam, ex quibusdam sunt nulla iusto voluptate dolore?</p>
                <a class="botonRedireccion" href="/products/detail">ver mas</a>
            </article>
            <article>
                <div class="img_producto">
                    <a href="/products/detail/2/nuevo">
                        <img src="/images/img-phone-1.jpg" alt="">
                    </a>
                </div>
                <h3>Nombre del Producto</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ducimus ipsum cumque, iure molestiae laboriosam vero id eligendi amet, animi quod? Possimus aliquam, ex quibusdam sunt nulla iusto voluptate dolore?</p>
                <a class="botonRedireccion" href="/products/detail">ver mas</a>
            </article>
            <article>
                <div class="img_producto">
                    <a href="/products/detail/5">
                        <img src="/images/img-phone-02.jpg" alt="">
                    </a>
                </div>
                <h3>Nombre del Producto</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ducimus ipsum cumque, iure molestiae laboriosam vero id eligendi amet, animi quod? Possimus aliquam, ex quibusdam sunt nulla iusto voluptate dolore?</p>
                <a class="botonRedireccion" href="/products/detail">ver mas</a>
            </article>
            <article>
                <div class="img_producto">
                    <a href="/products/detail/6">
                        <img src="/images/img-phone-03.jpg" alt="">
                    </a>
                </div>
                <h3>Nombre del Producto</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ducimus ipsum cumque, iure molestiae laboriosam vero id eligendi amet, animi quod? Possimus aliquam, ex quibusdam sunt nulla iusto voluptate dolore?</p>
                <a class="botonRedireccion" href="/products/detail">ver mas</a>
            </article>
        </section>
        <aside>
            <section>
                <h2>Tutoriales</h2>
                <div class="grid">
                    <article>
                        <img src="/images/aside-01.jpg" alt="">
                        <p>Titulo de tutorial de reparacion</p>
                    </article>
                    <article>
                        <img src="/images/aside-02.jpg" alt="">
                        <p>Titulo de tutorial de reparacion</p>
                    </article>
                    <article>
                        <img src="/images/aside-03.jpg" alt="">
                        <p>Titulo de tutorial de reparacion</p>
                    </article>
                    <article>
                        <img src="/images/aside-04.jpg" alt="">
                        <p>Titulo de tutorial de reparacion</p>
                    </article>
                    <article>
                        <img src="/images/aside-03.jpg" alt="">
                        <p>Titulo de tutorial de reparacion</p>
                    </article>
                    <article>
                        <img src="/images/aside-04.jpg" alt="">
                        <p>Titulo de tutorial de reparacion</p>
                    </article>
                </div>
            </section>
            <section class="publicidad">
                <h2>Publicidad</h2>
                <div class="publicidad_img">
                    <a href="">
                        <img src="/images/ad-01.jpg" alt="add01">
                    </a>
                </div>
                <div class="publicidad_img">
                    <a href="">
                        <img src="/images/ad-02.jpg" alt="add02">
                    </a>
                </div>
            </section>
        </aside>
    </main>
    
    <%- include('./partials/footer') %> 
</body>
</html>