<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/1a451b1708.js" crossorigin="anonymous"></script>
    <!-- Css -->
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Crafsy</title>
</head>
<body class="home">
    <header>
        <div class="top">
            <div class="logo">
                <a href="/">
                    <img src="/images/logo.png" alt="">
                </a>
            </div>
        </div>
        <div class="burger">
            <input type="checkbox" name="burger" id="burger" checked>
            <label for="burger"><i class="fas fa-ellipsis-v"></i></label>
            <nav>
                <ul class="menu">
                    <li><a href="">Smartphones</a></li>
                    <li><a href="">Tablets</a></li>
                    <li><a href="">Notebooks</a></li>
                </ul>
                <ul class="user">
                    <li><a href="/products/cart"><i class="fas fa-shopping-cart"></i></a></li>
                    <li><a href="/users/login">Login</a></li>
                    <li><a href="/users/register">Registro</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section class="products_cards">
            <article>
                <div class="img_producto">
                    <a href="/products/detail">
                        <img src="/images/img-phone-1.jpg" alt="">
                    </a>
                </div>
                <h3>Nombre del Producto</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ducimus ipsum cumque, iure molestiae laboriosam vero id eligendi amet, animi quod? Possimus aliquam, ex quibusdam sunt nulla iusto voluptate dolore?</p>
                <a class="botonRedireccion" href="/products/detail">ver mas</a>
            </article>
            <article>
                <div class="img_producto">
                    <a href="/products/detail">
                        <img src="/images/img-phone-02.jpg" alt="">
                    </a>
                </div>
                <h3>Nombre del Producto</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ducimus ipsum cumque, iure molestiae laboriosam vero id eligendi amet, animi quod? Possimus aliquam, ex quibusdam sunt nulla iusto voluptate dolore?</p>
                <a class="botonRedireccion" href="/products/detail">ver mas</a>
            </article>
            <article>
                <div class="img_producto">
                    <a href="/products/detail">
                        <img src="/images/img-phone-03.jpg" alt="">
                    </a>
                </div>
                <h3>Nombre del Producto</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ducimus ipsum cumque, iure molestiae laboriosam vero id eligendi amet, animi quod? Possimus aliquam, ex quibusdam sunt nulla iusto voluptate dolore?</p>
                <a class="botonRedireccion" href="/products/detail">ver mas</a>
            </article>
            <article>
                <div class="img_producto">
                    <a href="/products/detail">
                        <img src="/images/img-phone-1.jpg" alt="">
                    </a>
                </div>
                <h3>Nombre del Producto</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ducimus ipsum cumque, iure molestiae laboriosam vero id eligendi amet, animi quod? Possimus aliquam, ex quibusdam sunt nulla iusto voluptate dolore?</p>
                <a class="botonRedireccion" href="/products/detail">ver mas</a>
            </article>
            <article>
                <div class="img_producto">
                    <a href="/products/detail">
                        <img src="/images/img-phone-02.jpg" alt="">
                    </a>
                </div>
                <h3>Nombre del Producto</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ducimus ipsum cumque, iure molestiae laboriosam vero id eligendi amet, animi quod? Possimus aliquam, ex quibusdam sunt nulla iusto voluptate dolore?</p>
                <a class="botonRedireccion" href="/products/detail">ver mas</a>
            </article>
            <article>
                <div class="img_producto">
                    <a href="/products/detail">
                        <img src="/images/img-phone-03.jpg" alt="">
                    </a>
                </div>
                <h3>Nombre del Producto</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ducimus ipsum cumque, iure molestiae laboriosam vero id eligendi amet, animi quod? Possimus aliquam, ex quibusdam sunt nulla iusto voluptate dolore?</p>
                <a class="botonRedireccion" href="/products/detail">ver mas</a>
            </article>
        </section>
        <aside>
            <section>
                <h2>Tutoriales</h2>
                <div class="grid">
                    <article>
                        <img src="/images/aside-01.jpg" alt="">
                        <p>Titulo de tutorial de reparacion</p>
                    </article>
                    <article>
                        <img src="/images/aside-02.jpg" alt="">
                        <p>Titulo de tutorial de reparacion</p>
                    </article>
                    <article>
                        <img src="/images/aside-03.jpg" alt="">
                        <p>Titulo de tutorial de reparacion</p>
                    </article>
                    <article>
                        <img src="/images/aside-04.jpg" alt="">
                        <p>Titulo de tutorial de reparacion</p>
                    </article>
                    <article>
                        <img src="/images/aside-03.jpg" alt="">
                        <p>Titulo de tutorial de reparacion</p>
                    </article>
                    <article>
                        <img src="/images/aside-04.jpg" alt="">
                        <p>Titulo de tutorial de reparacion</p>
                    </article>
                </div>
            </section>
            <section class="publicidad">
                <h2>Publicidad</h2>
                <div class="publicidad_img">
                    <a href="">
                        <img src="/images/ad-01.jpg" alt="add01">
                    </a>
                </div>
                <div class="publicidad_img">
                    <a href="">
                        <img src="/images/ad-02.jpg" alt="add02">
                    </a>
                </div>
            </section>
        </aside>
    </main>
</body>
</html>