<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head',{title: 'Crafsy'}) %> 

<body class="home">
    <%- include('./partials/header') %> 
    <main>
        <!-- Categoria -->

        <h1><%= categoria.nombre %> </h1>
    </main>
    <%- include('./partials/footer') %> 
</body>
</html>