<footer>
    <section>
        <h2>Redes</h2>
        <ul>
            <li><a href="https://www.facebook.com"><i class="fab fa-facebook"></i>facebook</a></li>
            <li><a href="https://www.instagram.com"><i class="fab fa-instagram-square"></i>instagram</a></li>
            <li><a href="https://www.twitter.com"><i class="fab fa-twitter-square"></i>twitter</a></li>
            <li><a href="https://www.tiktok.com"><i class="fab fa-tiktok"></i>tiktok</a></li>
            <li><a href="https://ar.linkedin.com/"><i class="fab fa-linkedin"></i>linkedin</a></li>
            <li><a href="https://api.whatsapp.com/send?phone=542616048911&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Varela%202."><i class="fab fa-whatsapp-square"></i>whatsapp</a></li>
        </ul>
        <form action="" method="post">
            <label for="email">¿Queres recibir nuestras mejores ofertas?</label>
            <input type="email" name="email" id="email">
            <button type="submit">Suscribite</button>
        </form>
    </section>
    <section>
        <h2>Empresa</h2>
        <ul>
            <li>Encontranos en <a href="https://www.google.com.ar/maps/@-32.9577728,-68.8466427,15z">Calle falsa 123</a></li>
            <li><a href="/about">Quienes somos</a></li>
            <li><a href="/works">Trabaja con nosotros</a></li>
        </ul>
    </section>
    <section>
        <p>Copyrigth todos los derechos son reservados</p>
    </section>
</footer>