<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- logo del icono superior -->
    <link href="/images/iconoSuperior.png" type="image/x-icon" rel="shortcut icon" />
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/1a451b1708.js" crossorigin="anonymous"></script>
    <!-- Css -->
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <!-- Titulo del proyecto -->
    <title><%= title %></title>
</head>