<header>
    <div class="top">
        <div class="logo">
            <a href="/">
                <img src="/images/logo.png" alt="">
            </a>
        </div>
    </div>
    <div class="burger">
        <input type="checkbox" name="burger" id="burger" checked>
        <label for="burger"><i class="fas fa-ellipsis-v"></i></label>
        <nav>
            <ul class="menu">
                <li><a href="/products/Smartphones">Smartphones</a></li>
                <li><a href="/products/Tablets">Tablets</a></li>
                <li><a href="/products/Notebooks">Notebooks</a></li>
                <li><a href="/admin/list">Admin</a></li>
            </ul>
            <ul class="user">
                <li><a href="/products/cart"><i class="fas fa-shopping-cart"></i></a></li>
                <li><a href="/users/login">Login</a></li>
                <li><a href="/users/register">Registro</a></li>
            </ul>
        </nav>
    </div>
</header>