<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head',{title: 'Register'}) %> 

<body class="register">

    <%- include('../partials/header') %> 

    <main>
        <h1>Registro</h1>
        <form action="" method="get">
            <div class="container bottom">
                <label for="name">Nombre</label>
                <input type="text" name="name" id="name" placeholder="Ingresa tu nombre" required>
                <small>Debe ingresar su nombre</small>
            </div>
            <div class="container bottom">
                <input type="email" name="email" id="email" placeholder="Ingresa tu email">
                <small>Debe ingresar su email</small>
            </div>
            <div class="container bottom">
                <label for="pass">Contraseña</label>
                <input type="password" name="pass" id="pass" placeholder="Ingresa tu Contraseña">
                <small>Debe ingresar su contraseña</small>
            </div>
            <div class="container bottom">
                <label for="pass2">Confirma tu contraseña</label>
                <input type="password" name="pass2" id="pass2" placeholder="Confirmar Contraseña">
                <small>Las contraseñas no coinciden</small>
            </div>
            <h2 class="bottom">Pais de nacimiento</h2>
            <div class="container bottom">
                <select name="pais" id="pais">
                    <option value="" selected hidden >Selecciona una opcion</option>
                    <option value="argentina" >Argentina</option>
                    <option value="brasil">Brasil</option>
                    <option value="chile">Chile</option>
                    <option value="colombia">Colombia</option>
                    <option value="uruguay">Uruguay</option>
                    <option value="colombia">Colombia</option>
                </select>
                <small>Obligatorio</small>
            </div>
            <h2 class="bottom">Genero</h2>
            <div class="bottom">
                <input type="radio" name="Genero" id="F" value="F">
                <label for="F">Femenino</label>
                <input type="radio" name="Genero" id="M" value="M">
                <label for="M">Masculino</label>
                <input type="radio" name="Genero" id="SN" value="SN">
                <label for="SN">Prefiero no decirlo</label>
            </div>
            <h2 class="bottom">Hobbies</h2>
            <div class="bottom">
                <div class="bottom">
                    <input type="checkbox" name="Hobbies" id="Guitarra" value="Guitarra">
                    <label for="Guitarra">Guitarra</label>
                    <input type="checkbox" name="Hobbies" id="Fut" value="Futbol">
                    <label for="Fut">Futbol</label>
                    <input type="checkbox" name="Hobbies" id="T" value="Tenis">
                    <label for="T">Tenis</label>
                    <input type="checkbox" name="Hobbies" id="Pr" value="Programacion">
                    <label for="Pr">Programacion</label>
                </div>
                <div class="bottom">
                    <input type="checkbox" name="Hobbies" id="JJ" value="Juga">
                    <label for="JJ">Juga jueguito</label>
                    <input type="checkbox" name="Hobbies" id="Leer" value="Leer">
                    <label for="Leer">Leer</label>
                    <input type="checkbox" name="Hobbies" id="D" value="Dormir">
                    <label for="D">Dormir</label>
                    <input type="checkbox" name="Hobbies" id="Favorito" value="Estudiar">
                    <label for="Favorito">Estudiar</label>
                </div>
            </div>

            <h2 class="bottom">Dejanos tus comentarios</h2>
            
                <textarea class="bottom" name="comentarios" id="comentarios" cols="30" rows="10" placeholder="Escribi tus comentarios"></textarea>
                <div class="bottom">
                    <input type="checkbox" name="terminos" id="terminos">
                    <label for="terminos">Acepto los terminos y condiciones</label>
                </div>
            <!-- botones -->
            <button type="submit">Registrarme</button>
            <button type="reset">Cancelar</button>
        </form>
    </main>
    <%- include('../partials/footer') %> 
</body>
</html>